[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.115"
sqlalchemy = {extras = ["async"], version = "*"}
pydantic-settings = "*"
alembic = "*"
psycopg2-binary = "==2.9.10"
asyncpg = "==0.30.0"
greenlet = "==3.2.0"
faststream = "*"
apscheduler = "*"
aio-pika = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
